@page "/u/ResetPassword"
@using Microsoft.AspNetCore.RateLimiting
@attribute [EnableRateLimiting("user-access-policy")]
<h3>Reset Password</h3>

<div class="mb-3">
    <EditForm Model="record" OnValidSubmit="Save" class="needs-validation" novalidate>
        @switch(state)
        {
            case ResetPasswordStates.VerifyingHuman:
                <ProofOfWork @ref="proofOfWorkComponent"/>
                break;
            case ResetPasswordStates.Request:
                <div class="d-flex flex-column">
                    <div class="mb-2">
                        <input id="email" @bind="requestId" placeholder="Email address or display name" class="form-control"/>
                        <div class="invalid-feedback">
                            Please enter a your email address or display name.
                        </div>
                    </div>
                    @if (false == isProcessing)
                    {
                        <button type="submit" class="btn btn-primary mt-2">Request Link</button>
                    }
                    else
                    {
                        <button class="btn btn-primary mt-2" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Generating link...
                        </button>
                    }
                </div>
                break;
            case ResetPasswordStates.RequestSent:
                <div class="d-flex flex-column">
                    <div class="mb-2">
                        <span>
                            If an account was found, an email has been sent to that account with instructions how to reset the password.
                        </span>
                        <span>
                            Please keep in mind it is possible this email will appear in your spam folder.
                        </span>
                    </div>
                </div>
                break;
            case ResetPasswordStates.Change:
                <div class="d-flex flex-column">
                    <div class="mb-2">
                        <span>Please enter your email address</span>
                        <input id="email" @bind="requestId" placeholder="Email address or display name" class="form-control"/>
                    </div>
                    <div class="mb-2">
                        <span>Please enter your OLD password:</span>
                        <PasswordEditor @bind-Password="oldPassword" ShowStrengthMeter="false"/>
                    </div>

                    <div class="mb-2">
                        <span>Please enter your new password:</span>
                        <PasswordEditor
                            MinLength="@minPasswordLength"
                            MaxLength="@maxPasswordLength"
                            @bind-Password="newPassword"
                            ShowStrengthMeter="true"/>
                        <span>Please repeat your new password:</span>
                        <PasswordEditor Password="@confirmPassword" ShowStrengthMeter="false" PasswordChanged="OnConfirmPasswordChanged"/>
                    </div>
                    <div class="mb-2">
                        <p class="text-danger">@passwordMessage</p>
                    </div>
                    @if (false == isProcessing)
                    {
                        <button type="submit" class="btn btn-primary mt-2">Change password</button>
                    }
                    else
                    {
                        <button class="btn btn-primary mt-2" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Validating change password request...
                        </button>
                    }
                    
                </div>
                break;
            case ResetPasswordStates.Results:
                <span>The change password request has been processed.  You may try logging in with your new password.</span>
                <span>You may receive an email regarding this transaction.</span>
                <span>If there are any errors or concerns, please contact support.</span>
                break;
            default:
                <span></span>
                break;
        }
    </EditForm>
</div>
<div class="mb-2">
    <p class="text-muted">@errorMessage</p>
</div>
<div class="d-flex flex-column">
    <NavLink href="/Contact">Support</NavLink>
    <NavLink href="/">Back to Start</NavLink>
</div>

<script src="js/pow.js"></script>