@page "/a/UserManager"
<h3>User Manager</h3>

@if (true == HasRights())
{
    @if (records == null)
    {
        <p>Loading...</p>
    }
    else if (!records.Any())
    {
        <p>No Users found.</p>
    }
    else
    {
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th></th>
                <th>Display Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Created</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var user in records)
                {
                    <tr @onmouseover="() => ShowDetails(user.Id)">
                        <td></td>
                        <td>@user.DisplayName</td>
                        <td>@user.Email</td>
                        <td>@user.AccountState</td>
                        <td>@user.CreatedAt.ToShortDateString()</td>
                    </tr>
                    <tr class="bg-light" style="display: @(user.ShowDetails ? "table-row" : "none");">
                        <td colspan="4" class="p-2">
                            <div class="d-flex gap-3 align-items-start">  
                                <div class="flex-grow-1">
                                    <!-- Status section -->
                                    <div class="mb-3">
                                        for <b>@user.DisplayName</b> change status:
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <label for="statusSelect" class="fw-bold nowrap">Status:</label>
                                        <InputSelect id="statusSelect" 
                                                     class="form-select" 
                                                     TValue="UserAccountStates"
                                                     Value="@user.AccountState"
                                                     ValueExpression="@(() => user.AccountState)" 
                                                     ValueChanged="@( (UserAccountStates newState) => MarkAsChanged(user.Id, newState) )">
                                            @foreach (var states in Enum.GetValues<UserAccountStates>())
                                            {
                                                <option value="@states">@states.ToString()</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>

                                <div class="flex-grow-1">
                                    <!-- Password section -->
                                    <div class="mb-3">
                                        <strong>New Password</strong>
                                    </div>
                                    <div class="d-flex flex-column gap-2">
                                        <input type="text"
                                               @bind="@user.UpdatedPassword"
                                               @oninput="() => MarkAsChanged(user.Id, user.AccountState)"
                                               class="form-control"
                                               placeholder="enter a password" />
                                        <small class="text-muted">Please note this is a brute force change and doesn't enforce password rules</small>
                                    </div>
                                </div>

                                <div class="flex-shrink-0 gap-2">
                                    <div class="mb-3">&nbsp;</div>
                                    <button class="btn btn-primary btn-sm" @onclick="() => Save(user.Id)">Save</button>
                                    <button class="btn btn-secondary btn-sm" @onclick="() => HideDetails(user.Id)">Cancel</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div>
        <NavLink href=@General.Constants.ROUTE_ADMIN_HOME>Admin</NavLink>
    </div>
}
else
{
    <div>Redirecting to Admin Login</div>
}
