@using Cogitatio.Interfaces
@inject NavigationManager NavigationManager
@inject IDatabase Database

<article class="blog-post">
    <header>
        <h1>@PostContent.Title</h1>
        <p class="meta">
            By <strong>@PostContent.Author</strong> on @PostContent.PublishedDate.ToString("MMMM dd, yyyy")
        </p>
    </header>

    <section class="content">
        @((MarkupString)GetShortenedContent())
    </section>

    <footer>
        <NavLink class="nav-link" href=@("post/" + PostContent.Slug)>
            Read more...
        </NavLink>
        <BlogTags Tags="@PostContent.Tags"/>
    </footer>
</article>
